<h1>GroupBill#show</h1>
<p>Find me in app/views/group_bill/show.html.erb</p>

        <h2>list of items </h2>    
        <%puts @items.to_s %>
        <%puts "!!!!!!!!!!!!!!!!!"%>
        <% @items.each do |item| %>
        <%=item[0]%> <br />
        <% end %> 

<br >

<%= form_with(model: @bill) do |form| %>
  <%= form.hidden_field :group_bill_id, value: @group_bill.id %>
  <%= form.select(:users_ids, options_for_select(@users), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
<br /> <br/>
<%= form.submit%>
<% end %>

<br >

<%= form_with model: @bills_item do |form| %>
  <strong>Bill_id:</strong> <%= form.text_field :bill_id %> <br />
  <%= form.select(:items_ids, options_for_select(@items), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
  <%= form.submit %> 
<% end %>
            