<h1>GroupBill#show</h1>
<p>Find me in app/views/group_bill/show.html.erb</p>


  <!--<h2>List of items </h2>    

    <% @items.each do |item| %>
    <li><%= item[0] %></li> <br/>
      <%= form_with(model: @bill) do |form| %>
      <%= form.hidden_field :group_bill_id, value: @group_bill.id %>
      <%= form.select(:users_ids, options_for_select(@users), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
      <br /> <br/>
      <%= form.submit%>
      <% end %>
    <% end %>  -->


<% @bills_on_group_bill.each do |bill| %>
    <%bill.users.each do |user|%>
      <%=user.first_name%>
    <%end %>
<% end %> 

  <h2>List of Users </h2>    
    <%= form_with(model: @bill) do |form| %>
    <%= form.hidden_field :group_bill_id, value: @group_bill.id %>
    <%= form.select(:users_ids, options_for_select(@users), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
    <br /> <br/>
    <%= form.submit%>
    <% end %>
<br >

 <!-- <h2>List of Bill-Items </h2>    
  <% @items.each do |item| %>
    <li><%= item[0] %></li> <br/>
      <%= form_with(model: @bills_item) do |form| %>
      <strong>Bill_id:</strong> <%= form.text_field :bill_id %> <br />
      <%= form.select(:items_ids, options_for_select(@items), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
      <%= form.submit %> 
      <% end %>
    <% end %> -->
<br/> 

<br/><br/>
<h2>FORM Bill-Items </h2>    
  <% @items.each do |item| %>
    <%= item[0] %> 
        <%= form_with(model: BillsItem.new) do |form| %>
        <strong>Users:</strong> <%= form.select( :bill_ids, options_for_select(@users_on_group_bill), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>             
        <%= form.hidden_field :item_id, value: item[1] %>
        <%= form.submit %>  <br/><br>
      <% end %>
      <% end %>


    <div id="bill_page">
      <!-- Banner with logo -->
    <div class="logo-banner">
       <h1 style="align-text:center;"></h1>
    </div>

    <div class="container">
      <section class="page-title">
      <h1>Split Bill</h1>     
      </section>

      <section class="page-title">
      Hello: <%=User.find(@group_bill.admin).first_name%>
      </section>
    <!-- item/receipt and price of item  -->
   

     <section class="item">
      <% @items.each do |item| %>
        <p><%= item[0] %></p> 
        <p>$<%=item[1] %></p>
      </section>
        <section class="item">
          <% end %>
        </section>
    <!-- bar with dropped user icons -->
     <section class="dropped-user-icon-bar">
    </section>
    <!-- subtotal and price -->
    <section class="sub-total-price">
      <p>sub-total</p>
      <p>price</p>
    </section>
    <!--  tax and price-->
    <section class="tax-price">
      <p>tax</p>
      <p>price</p>
    </section>
    <!-- tip and price -->
    <section class="tip-price">
      <p>tip</p>
      <p>price</p>
    </section>
    <!-- total and price -->
    <section class="TOTAL-price">
      <p>TOTAL</p>
      <p>price</p>
    </section>
    <!-- user icons to be dragged -->
    <section class="user-icons">
    </section> 
  </div> 
    <!-- split button -->
    <section class="split-pay-button">
      <button type="button" style="color: white">Split Bill</button>
    </section>
    <!-- bottom navbar with edit, User's own icon, and a view my bill options and icons -->
    <div class="bottom_nav"></div>
</div> 


