Welcome <%=@admin.first_name.capitalize%>


<<<<<<< HEAD
<div class="split-bill-container">
    <h1>Split Bill</h1>     
=======
    <div id="bill_page">

      <!-- Banner with logo -->
    <div class="logo-banner">
       <h1 style="align-text:center;"></h1>
    </div>

    <div class="container">
      <section class="page-title">
      <h1>Split Bill</h1>     
      </section>

      <section class="page-title">
      Hello: <%=User.find(@group_bill.admin_id).first_name%>
      </section>
>>>>>>> master
    <!-- item/receipt and price of item  -->
      <% @items.each do |item| %>
        <div class="item" id="item<%=item.id%>">
          <div class="items_users" id="item<%=item.id%>" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
            <%= item.name.capitalize %>
            $<%=item.price %>
            <%item.bills.each do |bill|%>
              <%bill.users.each do |user|%>
                <div  class="user" id="bill<%=bill.id%>" draggable="true" ondragstart="dragstart_handler(event);"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%> </div>
              <% end %>
            <%end %>
            </div>
        </div>  
      <% end %> 

        <h2>Subtotal <%=@group_bill.subtotal%>
        <h2>Tip <%=@group_bill.tip%>
        <h2>Total <%=@group_bill.total%>
      </div>

      <div class="users_container">

      <%@bills_on_group_bill.each do |bill|%>
        <%bill.users.each do |user|%>
          <div  class="user" id="bill<%=bill.id%>" draggable="true" ondragstart="dragstart_handler(event);"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%> </div>
        <% end %>
      <% end %>
        
      </div>
    </div> 


    <h2>Add Friends</h2>    
      <%= form_with(model: @bill) do |form| %>
        <%= form.hidden_field :group_bill_id, value: @group_bill.id %>
        <%= form.select(:users_ids, options_for_select(@users_to_add), { :prompt => "Please select"}, { :multiple => true, :size => 5 })%>
        <%= form.submit  "Add friends"%>
      <% end %> 

      <div id="invisible">
       <%= form_with( model: BillsItem.new) do |form| %>
        <%=form.hidden_field :group_bill_id, value: @group_bill.id %>
        <%=form.hidden_field :admin_id, value: @admin.id %>
        <%=form.text_field :list_of_bills_items, id: "array_of_data"%>
        <%= form.submit "Split"%>  <br/><br>
       <% end %>
      </div>

  
