<!--<h2>Edit <%= resource_name.to_s.humanize %></h2>-->

<div id="bill_page">  
  <div class="logo-banner">
    <h1 ></h1>
    </div>
  <div class="container-landing-page">
    <section class="page-title">
      <div id="login-text">LET'S <br>GO <br> SPLIT</div>  
    </section>
    <h4> UPDATE </h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="field">
      <!--<%= f.label :first_name %><br /> -->
      <%= f.text_field :first_name,  placeholder: "First name", class:"field-style" %>
    </div>

    <div class="field">
      <!-- <%= f.label :last_name %><br /> -->
      <%= f.text_field :last_name,  placeholder: "Last name", class:"field-style" %>
    </div>

    <div class="field">
      <!--<%= f.label :email %><br />-->
      <%= f.email_field :email, autofocus: true, autocomplete: "email",  placeholder: "Email address", class:"field-style" %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class:"field-style" %> <br>
         <div id="forgot-password"><i>(leave blank if you don't want to change it)</i></div>

    <% if @minimum_password_length %>
     
      <div id="forgot-password"><em><%= @minimum_password_length %> characters minimum</em></div>
    <% end %>
  </div>

  <div class="field">
    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class:"field-style"  %>
  </div>

  <div class="field">
     <div id="forgot-password"><i>(we need your current password to confirm your changes)</i></div><br />
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current-password", class:"field-style"  %>
  </div>

    <div class="field">
    

      <!--<%= f.label :payment_method %><br /> -->
      <%= f.text_field :payment_method, autocomplete: "payment_method", placeholder: "Payment method", class:"field-style" %> <br>
      <div id="forgot-password"><i> Payment method </i></div>

    </div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
</div>
</div>
