<div id="bill_page">
  <div class="bill_info">
    <% @bill.users.each do |user| %>
      <h3>Welcome <%=user.first_name.capitalize%> </h3>
    <% end %>
    <h2><%=@group_bill.name%>
    <h3>Created by <%=@admin.first_name.capitalize%> <%=@admin.last_name.capitalize %></h3>
  </div>
  
  <% totalprice = 0%>
 
<div class="bill">
  <div class="items_container">
        <% @items.each do |item| %>
          <% totalprice+=item.price%>
          <div class="items_users" id="item<%=item.id%>" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
            <div class="item" id="item<%=item.id%>">
            <span class="item_name"><%= item.name.capitalize %></span> 
            <span class="item_price">$<%=(item.price).round(2) %></span>
              <%item.bills.each do |bill|%>
                <%bill.users.each do |user|%>
                    <div class="user" id="bill<%=bill.id%>" draggable="true" ondragstart="dragstart_handler(event);"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%> 
                    </div>
                <% end %>
              <%end %> 
          </div>
          </div>  
        <% end %> 
  </div>
  

  <%total_tax=@group_bill.tax%>
  <%total_tip=@group_bill.tip%> 
  <%my_percentage=totalprice/@group_bill.total%>

  <div class="totals_container">
    <h2>Tax <%=(total_tax*my_percentage).round(2)%></h2>
    <h3>Tip <%=(total_tip*my_percentage).round(2)%></h3>
    <h2 class="total">Total <%=((totalprice)+(total_tax*my_percentage)+(total_tip*my_percentage)).round(2)%></h2>
  </div>

  <div class="users_container">
      <%@group_bill.bills.each do |bill| %>
          <%bill.users.each do |user|%>
            <div  class="user" id="bill<%=bill.id%>" draggable="true" ondragstart="dragstart_handler(event);"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%> 
            </div>
          <% end %>
      <% end %>    
  </div>

</div>

          



      



      
</div>

     


