<h1>Bills#show</h1>
<p>Find me in app/views/bills/show.html.erb</p>

<h2>Bill Owner </h2> <br />
  <% @bill.users.each do |user| %>
    <%=user.first_name.capitalize%><br/><br/>
  <% end %>
  
<% totalprice = 0%>
<% @items.each do |item| %>
  Items: 
  <%= item.name %> <br>
  Price_I_Pay $<%=item.price/(item.bills.length)%><br>
<%  totalprice += item.price/(item.bills.length) %>
<% end %>
  TOTAL: $<%=totalprice%> <br>

  
<!--<h2> Trial for all bills </h2>

 <% @bills_on_group_bill.each do |bill| %>
    <%bill.users.each do |user|%>
      <%=user.first_name%> <br>
      
    <% totalprice = 0%>
    <% @bill.items.each do |items| %>
      <% @items.each do |item| %>
          <%totalprice += item.price/(item.bills.length) %> 
      
      money to pay <%=totalprice%> <br>
      <%totalprice=0%>
      <%end %>
    <%end %>  

    <%end %> 
  <% end %>   -->

