<div class="top_div">
<%@bill.users.each do |user| %>
  <h3>Welcome <%=user.first_name.capitalize%> </h3>
<% end %>
<h2>Bill Name: <%=@group_bill.name%>
<h2>Bill Admin: <%=@admin.first_name.capitalize%> <%@admin.last_name.capitalize %></h2>
</div>
  
<% totalprice = 0%>
 
<div class="bill">
  <div class="split-bill-container">   
    <!-- item/receipt and price of item  -->
    <% @items.each do |item| %>
      <div class="item" id="item<%=item.id%>">
        <div class="items_users" id="item<%=item.id%>" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
          <%= item.name.capitalize %>
          $<%=item.price/(item.bills.length) %>
          <%  totalprice += item.price/(item.bills.length) %>
          <%item.bills.each do |bill|%>
            <%bill.users.each do |user|%>
              <div  class="user" id="bill<%=bill.id%>"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%>
              </div>
            <% end %>
          <%end %>
        </div>
      </div>
    <% end %> 
    <div>
  <%total_tax=@group_bill.tax%>
  <%total_tip=@group_bill.tip%> 
  <%my_percentage=totalprice/@group_bill.total%>

  <h3>My share of tax <%=total_tax*my_percentage%></h3>
  <h3>My share of tip <%=total_tip*my_percentage%>
  <h2> Total: <%=totalprice%></h2>
</div>
  </div>  
          



      

      money to pay <%=totalprice%> <br>
      <%totalprice=0%>
      <%end %>
    <%end %>  

    <%end %> 
  <% end %>   -->

      <div class="users_container">
      <%@bill.group_bill.bills.each do |bill|%>
        <%bill.users.each do |user|%>
            <div class="user" id="bill<%=bill.id%>"> <%=user.first_name.capitalize%> <br> <%=user.last_name.capitalize%>
            </div>
        <% end %>
      <% end %>
     </div>


</div>

     


        