<h1>Bills#show</h1>
<p>Find me in app/views/bills/show.html.erb</p>

<h2>Bill Owner </h2> <br />
  <% @bill.users.each do |user| %>
    <%=user.first_name.capitalize%>
  <% end %>
   <br/><br/>
<% totalprice = 0%>
<% @items.each do |item| %>
  Name: <%= item.name %> <br>
  Price: $<%= item.price %> <br/>
  My Price= <%=item.price/(item.bills.length)%><br>
  Shared with:
  <% item.bills.each do |bill|%>
    <% bill.users.each do |user|%>
      <%=user.first_name%>
    <% end %>
  <% end %>

  <br><br><br>

<% end %>
TOTAL_PRICE: <%= totalprice%>
  





