<h2>Admin <%=@admin.first_name.capitalize %></h2>
<h2>Group Bill Id: <%=@group_bill.id%>
<%@bill.users.each do |user| %>
  <h2>This is my individual bill: <%=user.first_name%> </h2>
<% end %>



  
<% totalprice = 0%>
 
<div id="my_bill_page">
      <div class="split-bill-container">
        <h1>Split Bill</h1>     

        <!-- item/receipt and price of item  -->
        <% @items.each do |item| %>
          <div class="item" id="item<%=item.id%>">
              <div class="items_users" id="item<%=item.id%>" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
                <%= item.name.capitalize %>
                $<%=item.price/(item.bills.length) %>
                <%  totalprice += item.price/(item.bills.length) %>
                <%item.bills.each do |bill|%>
                    <%bill.users.each do |user|%>
                      <div  class="user" id="bill<%=bill.id%>"> <%=user.first_name.capitalize%><br><%=user.last_name.capitalize%> </div>
                    <% end %>
                <%end %>
              </div>
          </div>  
        <% end %> 
        <h2> Total: <%=totalprice%></h2>
      </div>
</div>
      <div class="users_container">
      <%@bill.group_bill.bills.each do |bill|%>
        <%bill.users.each do |user|%>
            <div class="user" id="bill<%=bill.id%>"> <%=user.first_name.capitalize%> <br> <%=user.last_name.capitalize%> </div>
        <% end %>
      <% end %>
     </div>

        