<!--<h2>Log in</h2> -->
  <!-- grid with banner and logo  -->
  <header id="login-banner" class="grid">
      <div class="logo">Split</div>
    </header>
  <!-- <div class="container-landing-page">
    <section class="page-title">

        <br><br>
    </section> -->

    <!-- Main login content -->
  <main id="login-main">
      <section id="section-1">
        <div class="content-wrap">
          <h2 id="login-text">Let's Split</h2>
        </div>
      </section>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email,  autofocus: true, autocomplete: "email", placeholder: "Email address", class:"field-style"  %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"field-style" %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
       <div id="align-password"> <%= link_to "Forgot your password", new_password_path(resource_name) %></div><br />
      <% end -%>
        <div class="actions">
          <%= f.submit "Log in", class:"login" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div> 
</div> 
